<!DOCTYPE html>
<html>
<head>
  <title>Bullhorn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body style="background: url('http://hdwallpaper.freehdw.com/0006/3d-abstract_hdwallpaper_ab-bull_53552.jpg') no-repeat center center fixed;" >
  <%= render "layouts/header" %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
